<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>The Top</span></h2>
                <p class="animate__animated fanimate__adeInUp" style="color: #fc8129">
                    Platform to launching creativity, collecting designers and buyers, and facilitating the buying and selling process.
                </p>
                <a href="/Home/AboutUs" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More about us</a>
            </div>
        </div>




    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
        </g>
    </svg>

</section><!-- End Hero -->
<br />
<br />
<br />
<br />
<br />

<section id="about" class="about">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>About</h2>
            <hr />
            <p>Who we are</p>
        </div>

        <div class="row content aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-6">
                <p>
                    Due to many problems that advertising designers suffer from, which contributed to the occurrence of many problems, as these problems contributed to limiting creativity and standing in its way.
                    The most important of which is:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> They cannot find buyers for these ads.</li>
                    <li><i class="ri-check-double-line"></i>  They cannot retain ownership of these ads.</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    "The Top" Web Site contributes to solving these problems by building a broad online platform.
                    This platform contributes:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Launching creativity.</li>
                    <li><i class="ri-check-double-line"></i> Collecting advertisers and buyers.</li>
                    <li><i class="ri-check-double-line"></i> Facilitating the buying and selling process.</li>
                </ul>

            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <section id="services" class="services">
        <div class="container">

            <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                <h2>Featuers</h2>
                <hr />
                <p>What we do offer</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left">
                        <div class="icon"><i class="bi bi-upload" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Upload design</a></h4>
                        <p class="description">The designer can display his or her designs</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-cart-check" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">Buy.</a></h4>
                        <p class="description">Customer can buy a design he need.</p>
                    </div>
                </div>

                @*<div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-envelope" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">Conversation</a></h4>
                        <p class="description">
                            Messaging system to obtain the advertisement with ease.
                        </p>
                    </div>
                </div>*@
                <div class="col-lg-4 col-md-6 ">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-currency-dollar" style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="">Our percentage</a></h4>
                        <p class="description">
                            We get a small percentage of the buying and selling process.
                        </p>
                    </div>
                </div>


            </div>

        </div>
    </section>
</section>
<br />
<br />
<br />
<br />
<br />
