<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>The Top</span></h2>
                <p class="animate__animated fanimate__adeInUp" style="color: #fc8129">
                    Platform to launching creativity, collecting designers and buyers, and facilitating the buying and selling process.
                </p>
                <a href="/Home/AboutUs" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More about us</a>
            </div>
        </div>




    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
        </g>
    </svg>

</section><!-- End Hero -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Contact</h2>
            <hr />
            <p>Help us improve our product? Give us your feedback.</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Jordan</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+962 0780000000</p>
                    </div>

                </div>

            </div>
            @model Contact

            <div class="col-lg-8 mt-5 mt-lg-0 aos-init aos-animate" data-aos="fade-left">

                <form asp-action="SaveContactUs" method="post" class="xx">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" required="">
                            <div class="validate"></div>

                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Your Email" required="">
                            <div class="validate"></div>

                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Subject" required="">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" asp-for="Message" rows="5" placeholder="Message" required=""></textarea>
                        <div class="validate"></div>
                    </div>


                    <div class="text-center"><button class="btn btn-success" type="submit" onclick="success()">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
    <script>
        function success() {
            alert("Your message has been sent.Thank you!")
        }
    </script>
</section>

