

<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>The Top</span></h2>
                <p class="animate__animated fanimate__adeInUp" style="color: #fc8129">
                    Platform to launching creativity, collecting designers and buyers, and facilitating the buying and selling process.
                </p>
                <a href="/Home/AboutUs" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More about us</a>
            </div>
        </div>





    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
        </g>
    </svg>

</section>
<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Testimonials</h2>
            <p>What they are saying about us</p>
        </div>
        @model List<Contact>
   

        </div>
   
        <div class=" testimonials-slider " data-aos="fade-up" data-aos-delay="100">
            <div class="">
                <div class="container" >
                    <div class="row" role="group">

                        @foreach (var item in Model)
                        {
                            <div class="testimonial-item col-lg-4 col-md-6" style=" margin-right:10%">
                                <h2>@item.Subject</h2>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @item.Message
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <br /><br /><br /><br />
                                <h3>@item.Name</h3>
                                <h4>@item.Time</h4>
                            </div>
                        } 
                    </div>

                </div>
            </div>
        </div>

</section> @*<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>*@